

  <style>
  .nomargin{margin:0px;}
  .nopadding{padding:0px;}
  .nav-item{margin-right:.5rem !important}
  .link{padding:10px;background-color:grey !important;border-color:grey !important}
  .link:hover{background-color:#515151 !important;border-color:#515151 !important}
  .customlink{background-color:#515151 !important;border-color:#515151 !important}
  .wrapper{margin-top:40px}
   .link{
    padding:10px 20px 10px 20px;
     cursor:pointer;
     margin:.4rem 0;
     font-weight:600;
     border-width:2px;
     font-style:normal;
     letter-spacing:2px;
     white-space:normal;
     transition:all 0.3s ease-in-out;
     display:inline-flex;
     align-items:center;
     word-break: break-word;
     color:#ffffff !important;
     margin-left:1px !important;
      
    }
    .alpha-input-text{width:100%;margin:5px}
    @media screen and (max-width: 991px){
      .margin1{
      margin-right:10px;
      }
    }
  </style>

  <section class="cid-qXvb2pyS1m" id="form1-0">

    

    
    <div class="jas-row nomargin nopadding">
	<div class="jas-col-md-1"></div>
        <!--div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="main-heading-content text-center">
                    <h2 class="mbr-fonts-style mbr-section-title align-center display-2">
                        GET IN TOUCH
                    </h2>
                    <div class="underline align-center">
                       <div class="line"></div>
                    </div>
                    <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-5">
                        Lorem ipsum dolor amet, consecte tempor incididunt
                    </h3>
                </div>
            </div>
        </div-->
		<div class="jas-col-md-10">
        <div class="jas-row row nomargin nopadding">
		<div class="jas-col-md-6">
		<img class="img-responsive img-fluid" src="https://lh3.googleusercontent.com/-tuj2y8fcnO8/W0ZQLT1HEYI/AAAAAAAAAZE/opjxyFvUZcoA0lHAq73umAG6T09d2vibwCL0BGAYYCw/h337/2018-07-11.png" >
        <div class="wrapper">
		
<h2>Digital Gift Card Details</h2>

<ul>
	<li>Digital Gift Cards are available for any amount between NZD $20 and NZD $2000.</li>
	<li>Digital Gift Cards are only redeemable in the currency they were ordered (i.e. AUD gift cards cannot be redeemed within NZ).</li>
	<li>Digital Gift Cards have no expiration date.</li>
	<li>Digital Gift Cards are redeemable on icebreaker.com and at all NZ Icebreaker Touch Labs.</li>                 
	<li>Digital Gift Cards will be delivered to the Recipient's email within 24 hours.</li>
	<li>For security purposes, Digital Gift Card recipients receive two emails. The first email will contain the Digital Gift Card number, gift messaging, and redemption information. The second email will contain the PIN number. Both the card number and PIN are required for redemption online.
	</li>
	<li>For full Terms &amp; Conditions, <a class="tac-link" href="#tac">click here</a></li>
</ul>
		</div>           
		   </div>
            <div class="jas-col-md-6 margin1" style="width:100%" data-form-type="formoid">            
               
                <form class="mbr-form" action="" method="post" data-form-title="gigt Form">
              
					
                        <div class="jas-col-md-12 multi-horizontal" data-for="name">
                            <div class="jas-form-group">
                                <input type="text" class="shopify-Input alpha-input-text shopify-Input--text input-text jas-form-control required" name="name" placeholder="You Name" data-form-field="Name" id="name-form1-0">
                            </div>
                        </div>
						   <div class="jas-col-md-12 multi-horizontal" data-for="recipientname">
                            <div class="jas-form-group required">
                                <input type="text" class="shopify-Input alpha-input-text shopify-Input--text input-text form-control" name="recipientname" placeholder="Recipient Name" data-form-field="recipientname" id="recipientname-form1-0">
                            </div>
                        </div>
                        <div class="jas-col-md-12 multi-horizontal" data-for="email">
                            <div class="jas-form-group required">
                                <input type="email" class="shopify-Input alpha-input-text shopify-Input--text input-text form-control" name="username" placeholder="You Email" data-form-field="Email" required="" id="email-form1-0">
                            </div>
                        </div> 
						<div class="jas-col-md-12 multi-horizontal" data-for="conformemail">
                            <div class="jas-form-group required">
                                <input type="text" class="shopify-Input alpha-input-text shopify-Input--text input-text form-control" name="password" placeholder="Confirm Recipient Email" data-form-field="Email" required="" id="conformemail-form1-0">
                            </div>
                        </div>
                    
                    <div class="jas-form-group jas-col-md-12 multi-horizontal" data-for="message">
                        <textarea type="text" class="shopify-Input alpha-input-text shopify-Input--text input-text form-control" name="message" rows="7" placeholder="Message" data-form-field="Message" id="message-form1-0"></textarea>
                    </div>
					
					<div class="" data-for="currency" style="margin-left:5px">
					
					<input type="hidden" name="currency" id="currency" value="$50">
                      
                        <div class="jas-form-group jas-col-md-12 multi-horizontal" data-for="message">
                          
                          <span>Amount</span>
					<ul class="jas-nav jas-nav-pills jas-menu clearfix" id="currencyul">
                     <li data-amount="10" class="nav-item link btn btn-form btn-primary display-4  menu-item menu-item-has-children menu_has_offsets menu-left menu-item-1520320587313 customlink" >
                   $10
                   </li>
                    <li data-amount="50" class="nav-item link btn btn-form btn-primary display-4  menu-item menu-item-has-children menu_has_offsets menu-left menu-item-1520320587313">
                     $50
                    </li>
					<li data-amount="100" class="nav-item link btn btn-form btn-primary display-4  menu-item menu-item-has-children menu_has_offsets menu-left menu-item-1520320587313">
                  $100
                    </li>
					<li data-amount="150" class="nav-item link btn btn-form btn-primary display-4  menu-item menu-item-has-children menu_has_offsets menu-left menu-item-1520320587313">
                   $150
                    </li>
                      <li data-amount="200" id="showTextBox" class="nav-item link btn btn-form btn-primary display-4  menu-item menu-item-has-children menu_has_offsets menu-left menu-item-1520320587313">
                   Custom Ammount
                    </li>
                          </ul>
                      </div>
					</div>
					<div style="margin-left:5px">
                        <div class="jas-form-group jas-col-md-12 multi-horizontal" data-for="message">
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-primary display-4" style="background-color:#231f20 !important;border-color:#231f20 !important;width:100%">ADD TO CART</button></span>
                      <button type="submit" id="shopify_add_to_cart" class="jas_btn_2d ajax_form_cart single_add_to_cart_button button alt">Add to cart</button>
                      </div>
                      </div>
				</form>
            </div>
            
        </div>
   </div>
   </div>
   <div class="col-md-1"></div>
</section>




  <script>
  var header = document.getElementById("currencyul");
var btns = header.getElementsByClassName("nav-item");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("customlink");
    current[0].className = current[0].className.replace(" customlink", "");
	
    this.className += " customlink";
	$('#currency').val(this.innerHTML);
  });
}
  </script>
  